({
    "font": File(path: "fonts/Not Jam UI Condensed 19.ttf"),
    "spinner_texture": Image(path: "sprites/Loading.png", sampler: Nearest),
    "panel_texture": Image(path: "sprites/UI Panel.png", sampler: Nearest),
    "button_texture": Image(path: "sprites/Button.png", sampler: Nearest),
})